[submodule "Globalika/vendor/spdlog"]
	path = Globalika/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Globalika/vendor/GLFW"]
	path = Globalika/vendor/GLFW
	url = https://github.com/Globalika/glfw
[submodule "Globalika/vendor/imgui"]
	path = Globalika/vendor/imgui
	url = https://github.com/Globalika/imgui
